/*regole universali*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/*commons*/
html{
    font-family: 'Fredoka', sans-serif;;
}

body{
    margin: 50px 50px;
}

h1{
    color: #e53170;
    text-align: center;
}

img{
    height: 75px;
    margin-right: 10px;
}

h2{
    color: white;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #098edf;
    font-size: 12px;
}

a:hover{
    text-decoration: underline;
}

.text p{
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 124.500px;
    margin-right: 124.500px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

.flex-container2{
    display: flex;
    background-color: #0f0e17;
    padding-right: 40px;
    width: 260px;
    margin-bottom: 30px;
    box-shadow:  2px  2px 4px #b6b6b6,
              -2px -2px 4px #b6b6b6,
               2px -2px 4px #b6b6b6,
              -2px  2px 4px #b6b6b6;
}

.flex-container2 p{
    color: white;
    font-size: 12px;
    padding-top: 4px;
}

.flex-container2 div{
    padding: 8px 0px;
}